@charset "UTF-8";

@font-face {
    font-family: 'BMHANNAAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.0/BMHANNAAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family:'BMHANNAAir', Courier, monospace;
    font-size: 20px ;     
}

body{
    background-color: #F1F6F9;
}

#navbar .navbar-brand{
	padding: 0;
	margin:0;
	font-size: 1rem;	
    color: white;
}


.container{
    background-color: white;
    padding-left: 2rem !important; 
    padding-right: 2rem !important;
    
}

.navbar-brand {
    padding-top: 0 !important; 
    padding-bottom: 0 !important; 
    margin-right: 1rem !important;
    font-size: 1.5rem !important;
    text-decoration: none !important;
    white-space: nowrap;
}


